#!/usr/bin/env python2

# Add your Telegram bot token below.
TOKEN = "[YOUR_TELEGRAM_BOT_TOKEN]"

# Handlers that will be used for tag inference.
HANDLERS = ["iqdb", "i2v_online", "i2v_offline"]

# Webhook settings.
# The webhook URL is https://[host]/[bot-token]
WEBHOOK      = False
WEBHOOK_HOST = "http://localhost"
WEBHOOK_PORT = 80

# File paths.
DATA_FILE     = "data/data.sqlite"
SETTINGS_FILE = "data/settings.sqlite"